<%- @title = '本登録案内メールが届かない方' -%>
<%- add_breadcrumb 'ユーザー登録', new_user_registration_path -%>
<p>誤って迷惑メールに振り分けられてしまっていませんか？</p>
<p>こちらから本登録案内のメールを再送信できます。</p>
<%= render 'partial/errors', record: resource %>
<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name),
  html: { method: :post, class: 'form-horizontal' }) do |f| %>
  <%= f.bootstrap_text :email %>
  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <button type="submit" class="btn btn-primary">送信</button>
    </div>
  </div>
<% end %>
