<div class="jumbotron">
  <h1><%= Const::PRODUCT %></h1>
  <p><%= Const::COPYRIGHT %></p>
  <span class="fa fa-github fa-2x"></span>
  <a href="https://github.com/miyamae/rails-startup">miyamae/rails-startup</a>
</div>
