- if record.persisted?
  p.text-right
    = link_to raw('<span class="fa fa-trash-o"></span> ' + t('crud.destroy.submit')), { controller: controller_name, action: :destroy, id: record }, class: 'btn btn-danger btn-sm', method: :delete, data: {confirm: t('crud.destroy.confirm', model: record.class.model_name.human, name: record)}
