= link_to raw('<span class="fa fa-trash-o"></span> ' + t('views.destroy.perform')), { action: :destroy, id: record }, class: 'btn btn-danger btn-sm', method: :delete, data: t('views.destroy.confirm_html', model: record.class.model_name.human, name: record))
