<div class="clearfix paginate">
  <%- if defined?(records.total_count) -%>
    <%- unless defined?(hide_count) -%>
      <div class="pull-right"><%= number_with_delimiter records.total_count %> 件</div>
    <%- end -%>
    <%= paginate records %>
  <%- else -%>
    <%- unless defined?(hide_count) -%>
      <div class="text-right"><%= number_with_delimiter records.length %> 件<div>
    <%- end -%>
  <%- end -%>
</div>
