= render 'settings/sidebar'

p = t 'views.settings.oauth.guide_html'

- if ENV['facebook_app_id'].present?
  h2 = t 'views.settings.oauth.provider_title', provider: 'Facebook'
  - if current_user.facebook_uid.present?
    p = t 'views.settings.oauth.already_connected', provider: 'Facebook'
    a.btn.btn-default.btn-danger href=settings_oauth_remove_path(:facebook)
      = t 'views.settings.oauth.disconnect', provider: 'Facebook'
  - else
    p = t 'views.settings.oauth.not_connected', provider: 'Facebook'
    a.btn.btn-default.btn-primary href=redirect_oauth_path(:facebook)
      = t 'views.settings.oauth.connect', provider: 'Facebook'

- if ENV['twitter_api_key'].present?
  h2 = t 'views.settings.oauth.provider_title', provider: 'Twitter'
  - if current_user.twitter_uid.present?
    p = t 'views.settings.oauth.already_connected', provider: 'Twitter'
    a.btn.btn-default.btn-danger href=settings_oauth_remove_path(:twitter)
      = t 'views.settings.oauth.connect', provider: 'Twitter'
  - else
    p = t 'views.settings.oauth.not_connected', provider: 'Twitter'
    a.btn.btn-default.btn-primary href=redirect_oauth_path(:twitter)
      = t 'views.settings.oauth.connect', provider: 'Twitter'

- if ENV['google_client_id'].present?
  h2 = t 'views.settings.oauth.provider_title', provider: 'Google'
  - if current_user.google_uid.present?
    p = t 'views.settings.oauth.already_connected', provider: 'Google'
    a.btn.btn-default.btn-danger href=settings_oauth_remove_path(:google)
      = t 'views.settings.oauth.connect', provider: 'Google'
  - else
    p = t 'views.settings.oauth.not_connected', provider: 'Google'
    a.btn.btn-default.btn-primary href=redirect_oauth_path(:google_oauth2)
      = t 'views.settings.oauth.connect', provider: 'Google'
