#= Application Setting

# Host name for application URL (FQDN)
#host_name: "rails-startup.herokuapp.com"

# Sender for confirm mail and destination for contact form
email: "SampleApp <support@example.com>"

# Destination for internal error notifications
system_email: "root@localhost"

# Using SSL on user authentication and admin features
use_ssl: "false"

# SMTP server
smtp_host: "localhost"
smtp_port: "25"

# Storage for uploaded image files
uploads_storage: "file"
#uploads_storage: "s3"
#uploads_s3_host_name: "s3-ap-northeast-1.amazonaws.com"
#uploads_s3_bucket:
#uploads_aws_access_key_id:
#uploads_aws_secret_access_key:

# Key and secret for OAuth providers
#facebook_app_id:
#facebook_app_secret:
#twitter_api_key:
#twitter_api_secret:
#google_client_id:
#google_client_secret:

# Database
#db_adapter: "postgresql"
#db_encoding: "unicode"
#db_template: "template0"
#db_database: "sampleapp_production"
#db_username: "sampleapp"
#db_password: "XXXXXXXXX"
#db_host:
#db_pool: "5"
