- if ENV['facebook_app_id'] || ENV['twitter_api_key'] || ENV['google_client_id']
  h2 = t 'views.devise.omniauth.auth_title'
  = t 'views.devise.omniauth.auth_guide_html'
  - if ENV['facebook_app_id']
    a.btn.btn-default.btn-block href=redirect_oauth_path(:facebook)
      .fa.fa-lg.fa-facebook-square>
      = t 'views.devise.omniauth.auth_with', provider: 'Facebook'
  - if ENV['twitter_api_key']
    a.btn.btn-default.btn-block href=redirect_oauth_path(:twitter)
      .fa.fa-lg.fa-twitter-square>
      = t 'views.devise.omniauth.auth_with', provider: 'Twitter'
  - if ENV['google_client_id']
    a.btn.btn-default.btn-block href=redirect_oauth_path(:google_oauth2)
      .fa.fa-lg.fa-google-plus-square>
      = t 'views.devise.omniauth.auth_with', provider: 'Google'
