= render 'partial/errors', record: record
= form_for([:admin, record], html: {class: 'form-horizontal edit-form'}) do |f|
  .nav-tabs-custom
    ul.nav.nav-tabs
      li.active
        a href="#tab_1" data-toggle="tab"
          = t 'views.admin.users.basic'
    .tab-content
      .tab-pane.active#tab_1
        = f.bootstrap_text :email
        = f.bootstrap_text :name
        = f.bootstrap_text :nick_name
        = f.bootstrap_paperclip :image, :avatar_sm
        = f.bootstrap_collection_checkboxes :role_ids, Role.all, :id, :name
        = f.bootstrap_password :password, autocomplete: 'off'
        = f.bootstrap_password :password_confirmation, autocomplete: 'off', placeholder: t('helpers.input.password_confirmation')
      = f.bootstrap_submits t('helpers.submit.' + {'new'=>'create','create'=>'create','edit'=>'update','update'=>'update'}[action_name])
