<h2>メールを確認してください</h2>

<p>ご登録頂いたメールアドレス宛てに確認メールを送信しました。</p>
<p>届いたメールに従って本登録を完了させてください。</p>

<h2>数時間経過してもメールが届かない場合</h2>

<ol>
  <li>確認メールが迷惑メールに振り分けられてしまっている場合があります。ご確認ください。</li>
  <li><%= link_to "こちらから確認メールを再送信", new_confirmation_path(resource_name) %>することができます。</li>
  <li>それでも確認できない場合、登録されたメールアドレスを間違えている可能性があります。<%= link_to "再度ユーザー登録", new_registration_path(resource_name) %>を行ってください。</li>
</ol>
